@model FindJob.Models.Vacancy

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Вкансия</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Education.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @if (Model.Enabled == true)
            {
                <text> Да</text>
            }
            else
            {
                <text> Нет</text>
            }
        </dd>


        @if (!User.IsInRole("Employee"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.LastName)
                @Html.DisplayFor(model => model.User.FirstName)
                @Html.DisplayFor(model => model.User.PatronymicName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Phone)
            </dd>
        }
    </dl>
</div>
<p>

    @if (User.IsInRole("Employee"))
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) <text> | </text>
        @Html.ActionLink("Подходящие резюме", "SearchForVacancy", "Resume", new { id = Model.Id }, null) <text> | </text>

    }


    @Html.ActionLink("Вернуться в список", "Index")
</p>
